.projects-display {
    color: white;
    font-family: 'oxygen', sans-serif;
}

.project-heading {
    scroll-snap-type: y mandatory;
}

.project-heading img {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
    filter: blur(1px);
}

.project-heading h1 {
    color: white;
    font-family: 'ag-light', sans-serif;
    display: inline;
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%, -15%);
    z-index: 1;
    font-size: 3rem;
}

.project-heading i {
    color: white;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    bottom: 7%;
    transform: translate(-50%, -7%);
    z-index: 1;
}

.down {
    animation: slide-down 0.75s infinite;
}

@keyframes slide-down {
    from {
        transform: translate(-50%, -3%) scale(1.0);

    }

    to {
        transform: translate(-50%, -25%) scale(1.2);
    }
}

@media(max-width: 770px) {
    .project-heading img {
        object-fit: cover;
    }

    .project-heading h1 {
        left: 50%;
        bottom: 13%;
        transform: translate(-50%, -13%);
        font-size: 2rem;
    }


    .project-heading i {
        left: 50%;
        bottom: 5%;
        transform: translate(-50%, -5%);
    }
}

body>.project {
    scroll-snap-align: start;
}

.project {
    margin: 20px;
    padding: 30px;
}

.project-desc {
    font-size: 20px;
    color: white;
}

.projects-display {
    margin: 50px 10px;
    display: grid;
    gap: 40px;
    justify-content: center;
    padding: 20px 60px;


}

.project-content {
    border: 2px white solid;
    border-radius: 10px;
    width: 350px;
    padding: 5px;

}

.project-content img {
    object-fit: cover;
    width: 320px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
}

.project-content h2 {
    margin: 10px;
}

.project-content p {
    margin: 10px;
}

.project-content video {
    width: 320px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    filter: blur(0px);
    display: block;
}

@media(max-width: 770px) {
    .project-content {
        width: 300px;
    }

    .project-content img {
        width: 270px;
    }

    .project-content video {
        width: 270px;
    }

}

@media(min-width: 770px) {
    .projects-display {
        grid-template-columns: repeat(3, 0.05fr);
    }

}