@font-face {
  font-family: 'ag-light';
  src: url(/fonts/AG\ Foreigner\ Light-Plain\ Medium.ttf);
}

@font-face {
  font-family: 'avetra';
  src: url(/fonts/AvertaDemo-Regular.otf);
}

@font-face {
  font-family: 'algerianregular';
  src: url('alger-webfont.eot');
  src: url('alger-webfont.eot?#iefix') format('embedded-opentype'),
    url('alger-webfont.woff2') format('woff2'),
    url('/alger-webfont.woff') format('woff'),
    url('alger-webfont.ttf') format('truetype'),
    url('alger-webfont.svg#algerianregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(8, 8, 8);
  font-family: 'ag-light', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.hero {
  height: 100dvh;
  scroll-snap-type: y mandatory;
}

.nav-bar {
  margin-left: 10px;
  margin-right: 10px;
}

.logo a {
  position: absolute;
  left: 5%;
  top: 10px;
  height: 100px;
  width: 100px;
  z-index: 1;
  display: block;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo a:hover {
  top: 10px !important;
  transform: none !important;
}

.drop-down {
  position: absolute;
  right: 10%;
  top: 7%;
  /* position: fixed; */
  z-index: 10;
}

.drop-down i {
  height: 1.5rem;
  width: 1.5rem;
}

#nav-icon1 {
  width: 45px;
  height: 15px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 2;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4.5px;
  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 9px;
}

#nav-icon1 span:nth-child(3) {
  top: 18px;
}

#nav-icon1.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

@media(max-width: 470px) {
  .logo a {
    height: 65px;
    width: 65px;
  }

  .drop-down {
    /* position: fixed; */
    right: 10%;
    top: 5%;
    z-index: 10;
  }

  .menu-screen p {
    display: none;
  }

  .hero-section p {
    font-size: 0.75rem;
  }
}

@media(max-width: 770px) {
  .drop-down {
    /* position: fixed; */
    right: 10%;
    top: 4%;
    z-index: 10;
  }

  .hero-section p {
    font-size: 0.75rem;
  }
}

.techs {
  z-index: 200;
  color: white;
  position: relative;
  top: -50px;
  width: fit-content;
  border: 1px solid white;
  padding: 10px;
}

.menu-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
  background-color: #292929;
  z-index: 1;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.menu-screen.open {
  overflow: hidden;
  display: block;
  opacity: 1;
  transform: translateY(0);
  animation: slideFromTop 0.5s forwards;
}

.menu-screen p {
  opacity: 0;
  transform: translateY(-50px);
  animation: slideFromTop 0.5s forwards;
}

.menu-screen p {
  animation-delay: 0.2s;
}

@keyframes slideFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.menu-screen p {
  font-family: 'Oxygen', sans-serif;
  color: #dbdbdb;
  margin-top: 4%;
  margin-left: 4%;
  margin-bottom: 10px;
}

.menu ul {
  list-style: none;
  width: max-content;
}

.menu a {
  text-decoration: none;
  font-family: 'Oxygen', sans-serif;
  font-size: x-large;
  color: #dbdbdb;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 25px;
  z-index: 3;
  animation: slideFromTop 0.5s forwards;
}

.menu a:hover {
  font-weight: bold;
  font-size: 1.5em;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.lines {
  position: relative;
  overflow: hidden;
  width: 90vw;
  height: 100dvh;
  margin: 0 auto;
}

.lines .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.lines .line:nth-child(1) {
  margin-left: -25%;
}

.lines .line:nth-child(1)::after {
  animation-delay: 2s;
}

.lines .line:nth-child(3) {
  margin-left: 25%;
}

.lines .line:nth-child(3)::after {
  animation-delay: 2.5s;
}

.lines .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 30px;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 217, 0, 0) 0%, #7e7e7e 75%, #7e7e7e 100%);
  animation: run 3s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

@keyframes run {
  0% {
    top: -50%;
  }

  100% {
    top: 100%;
  }
}

/* .header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(24, 24, 24); 
  z-index: 100;
  padding: 10px; 
}

body.scrolling .header {
  background-color: rgb(24, 24, 24) 
} */

.hero-section {
  color: white;
  font-family: 'algerianregular', 'ag-light', sans-serif;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-40%, -50%);
}

/*hero section styles*/
.hero-section h1 {
  font-size: 3.5rem;
  font-weight: 100;
  margin-bottom: 10px;
  font-family: 'algerianregular';
  width: max-content;

}

.hero-section p {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'ag-light', sans-serif;
  ;
}

.hero-section i {
  font-size: 2.5rem;
}

.hero-section a {
  text-decoration: none;
  color: white;
}

#particle-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100dvh;
  z-index: -1;
  opacity: 0.8;
  filter: blur(2px);
  display: none;
  /* Hide video just in case */
}

.hidden {
  opacity: 0;
  transition: all 1s ease;
  transform: translateY(10px);
}

.show {
  opacity: 1;
  transform: translateY(0);
}

@media(max-width: 770px) {
  .hero-section h1 {
    font-size: 2.5rem;
    width: auto;
  }

  .hero-section p {
    font-size: 1.25rem;
    width: max-content;
  }

  .hero-section i {
    font-size: 1.5rem;
  }

}

/*carousel designs*/
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.carousel,
.container {
  scroll-snap-align: start;
}

.slider {
  margin: 100px 0px 30px 0px;
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
  scroll-snap-type: y mandatory;
}

.slider::before,
.slider::after {
  content: "";
  height: 300px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slide img {
  height: 280px;
  width: 400px;
  margin: 0px 15px;
}


/*container*/
.container {
  margin: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
  scroll-snap-type: y mandatory;
}

:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgb(189, 189, 189);
  --c2: rgba(168, 239, 255, 0.1);
}

.what {
  width: 90%;
  margin: 40px 0px;
  padding: 20px;
  font-size: 1.5rem;
  line-height: 50px;
  border: 0.2rem solid;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }

  40% {
    --gradX: 100%;
    --gradY: 100%;
  }

  60% {
    --gradX: 50%;
    --gradY: 100%;
  }

  80% {
    --gradX: 0%;
    --gradY: 50%;
  }

  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}

.boxes {
  font-family: 'Oxygen', sans-serif;
  display: inline;
  margin: 20px 0px;
  width: 100%;
  height: 20vh;
}

.boxes img {
  height: 20vh;
  width: 100%;
  object-fit: cover;
  opacity: 0.75;
  filter: blur(0.75px);
}

.boxes p {
  font-size: 1.5rem;
  position: absolute;
  right: 10%;
  bottom: 20%;
}

/*footer*/
footer {
  color: white;
  font-family: 'avetra', sans-serif;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

footer a {
  font-size: 15px;
  text-decoration: none;
  color: white;
}

footer p {
  font-size: 15px;
}

.icons {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding: 0px;

}

.icons,
.address,
.phone-no,
.gmail,
.issue {
  margin: 20px 0px;
}

.icons,
.footer-info {
  height: 30dvh;
  margin-bottom: 30px;
}

.icons i {
  margin: 0px 30px 15px;
  font-size: 1.5rem;
}

.space {
  margin: 10px;
}

.issue a {
  color: aqua;
}

.issue p {
  font-size: 14px;
  font-weight: bold;
}

.copyright {
  text-align: center;
  margin-top: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
}

/*clickable links*/
.boxes a,
.boxes a:visited {
  text-decoration: none;
  color: white;
}

/*Saviskaar page styles*/
.heading img {
  object-fit: cover;
  width: 100%;
  height: 100dvh;
}

.heading h1 {
  color: white;
  font-family: 'ag-light', sans-serif;
  display: inline;
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, -15%);
  z-index: 1;
  font-size: 2.5rem;
}

.heading i {
  color: white;
  font-size: 2rem;
  position: absolute;
  left: 50%;
  bottom: 7%;
  transform: translate(-50%, -7%);
  z-index: 1;
}

.para {
  color: white;
  font-family: 'oxygen', sans-serif;
  margin: 20px 20px;
  height: 100dvh;
}

.para h2 {
  margin: 20px 0px;
}

/*About page styling*/
.about,
.events,
.events-enigma,
.techsandhya {
  color: white;
  font-family: 'oxygen', sans-serif;
  margin: 15% 7%;
}

.a-head h1 {
  color: aqua;
  margin: 20px 20px;
  font-size: 2.5rem;
}

hr {
  size: 3px;
  color: white;
  margin: 0px 20px 20px 20px;
}

.a-image img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 65vh;
  z-index: 0;
  padding: 40px;
}

@media(max-width: 770px) {
  .a-head h1 {
    margin-top: 100px;
  }

  .a-image img {
    height: 25vh;
    padding: 20px;
  }
}

.p-about p {
  margin: 30px 0px 50px 0px;
  font-size: 20px;
}

.our-vision h2,
.our-mission h2,
.event-desc h2 {
  color: aqua;
  margin: 40px 0px;
  font-size: 2rem;
}

.our-vision p,
.event-desc p {
  font-size: 20px;
}

.our-mission li {
  list-style: none;
  margin: 20px 0px;
  font-size: 20px;

}

.our-mission li::before {
  content: " - ";
}

/*event page style*/

.a-head p {
  color: white;
  font-size: 20px;
  padding: 20px;
}

/*loader animation*/
.loader {
  background-color: #0a0a0a;
  width: 100%;
  height: 100dvh;
  position: fixed;
  z-index: 100;
}

.loader img {
  display: block;
  position: relative;
  top: 40%;
  left: 38%;
  transform: translate(-40%, -38%);
  width: 100px;
  height: 100px;
  animation: imageAnimation 2s infinite;
}

@media(min-width: 770px) {
  .loader img {
    position: relative;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -47%);
  }
}

@keyframes imageAnimation {
  from {
    transform: scale(1.0);
  }

  to {
    transform: scale(2);
  }
}

.down {
  animation: slide-down 0.75s infinite;
}

@keyframes slide-down {
  from {
    transform: translate(-50%, -3%) scale(1.0);

  }

  to {
    transform: translate(-50%, -25%) scale(1.2);
  }
}

/* ── Global Mobile Responsive ── */
@media (max-width: 768px) {

  /* Footer — stack vertically */
  footer {
    flex-direction: column !important;
    align-items: center;
    text-align: center;
    padding: 20px 16px 60px;
    gap: 0;
  }

  .icons,
  .footer-info {
    height: auto !important;
    margin-bottom: 0 !important;
    width: 100%;
  }

  .icons {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0 !important;
  }

  .icons i {
    margin: 0 10px 10px !important;
    font-size: 1.3rem;
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }

  .address,
  .phone-no,
  .gmail,
  .issue {
    margin: 6px 0 !important;
    text-align: center;
  }

  .copyright {
    font-size: 0.8rem;
    padding: 0 10px;
  }

  /* Nav — hamburger menu already handled by styles.css;
     make sure hidden items collapse */
  .nav-links {
    width: 100%;
  }
}